__pycache__

.DS_Store
.ipynb_checkpoints
run_exps.sh
output*.log
nohup*.out

data/
saved/
lightning_logs/
gyeongtaek_test/
inseo_test/
test_gt/
jieun_test
jihwan_test/
wandb/
config*.json
!config.json
dev_output.csv
EDA.ipynb
eda*.ipynb
outputs/
.env/
